<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Samartha AI.</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700&display=swap"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Libraries Stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" />
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" />

  <!-- Customized Bootstrap Stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

  <!-- Template Stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body id="fullscreen-container">
  <!-- Spinner Start -->
  <div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
  <!-- Spinner End -->




  <!-- Header End -->
  <section class="relative h-screen flex flex-col justify-center items-center">
    <video autoplay loop muted id="video-background" class="absolute inset-0 w-full h-full object-cover">
      <source src="{{ url_for('static', filename='img/robot eyes.mp4') }}" type="video/mp4" />
    </video>
    <div class="container flex flex-col items-center z-10">
      <h1 id="main-heading" class="text-4xl md:text-6xl text-white text-center mb-6 poppins-thin pb-[40rem]">
        Hello <span id="fullscreen-btn">👋</span>, I am Samartha
      </h1>
      <div class="absolute bottom-10 flex px-10 justify-between w-full ">
        <button id="action-mode-button"
          class="bn632-hover bn24"
          onclick="toggleActionMode()">
          <span id="action-mode-text">Surveillance Mode</span>
        </button>
        <button id="chat-mode-button"
          class="bn632-hover bn24"
          onclick="toggleChatMode()">
          <span id="chat-mode-text">Interaction Mode</span>
        </button>
      </div>
    </div>
    <div onclick="toggleChat()" id="toggleChat"
      class="absolute top-4 right-4 inline-flex items-center justify-center text-sm font-medium border rounded-full w-16 h-16 bg-black hover:bg-gray-700 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="text-white block">
        <path d="m3 21 1.9-5.7a8.5 8.5 0 1 1 3.8 3.8z"></path>
      </svg>
    </div>

    <!-- Chat Container (initially hidden) -->
    <div id="chat-container" style="display: none;"
      class="fixed top-24 right-0 mr-4 bg-white p-6 rounded-lg border border-[#e5e7eb] w-[440px] h-[634px] flex flex-col z-20">
      <div class="flex flex-col space-y-1.5 pb-6">
        <h2 class="font-semibold text-lg tracking-tight">Samartha</h2>
        <p class="text-sm text-[#6b7280] leading-3">Powered by Techosa Edu Solutions</p>
      </div>

      <!-- Chat Messages (Scrollable area) -->
      <div id="chat-messages" class="flex-1 pr-4 overflow-y-auto overflow-x-hidden h-[calc(634px-120px)]">
        <!-- Chat messages will be appended here -->
      </div>
    </div>
  </section>

    <!-- Chat Container (initially hidden) -->
    <div id="chat-container" style="display: none;"
      class="fixed bottom-[calc(4rem+1.5rem)] right-0 mr-4 bg-white p-6 rounded-lg border border-[#e5e7eb] w-[440px] h-[634px] flex flex-col">
      <div class="flex flex-col space-y-1.5 pb-6">
        <h2 class="font-semibold text-lg tracking-tight">Tessa</h2>
        <p class="text-sm text-[#6b7280] leading-3">Powered by Techosa Edu Solutions</p>
      </div>

      <!-- Chat Messages (Scrollable area) -->
      <div id="chat-messages" class="flex-1 pr-4 overflow-y-auto overflow-x-hidden h-[calc(634px-120px)]">
        <!-- Chat messages will be appended here -->
      </div>
    </div>
  </section> 





  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>

  <!-- Template Javascript -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script>
    $(document).ready(function () {
      // Action Mode button click handler
      $('#action-mode-button').click(function () {
        $.ajax({
          type: 'POST',
          url: '/action_mode',
          success: function (response) {
            console.log(response.message); // You can replace this with a more sophisticated UI update
          },
          error: function () {
            console.log('Failed to activate Action Mode.');
          }
        });
      });

      // Chat Mode button click handler
      $('#chat-mode-button').click(function () {
        $.ajax({
          type: 'POST',
          url: '/chat_mode',
          success: function (response) {
            console.log(response.message); // You can replace this with a more sophisticated UI update
            toggleChat(); // Show chat container when chat mode is activated
          },
          error: function () {
            console.log('Failed to activate Chat Mode.');
          }
        });
      });
    });
    // Get the button and container elements
    const fullscreenBtn = document.getElementById("fullscreen-btn");
    const fullscreenContainer = document.getElementById(
      "fullscreen-container"
    );
    fullscreenBtn.addEventListener("click", toggleFullScreen);
    function toggleFullScreen() {
      if (document.fullscreenEnabled) {
        if (document.fullscreenElement) {
          document.exitFullscreen();
        } else {
          fullscreenContainer.requestFullscreen();
        }
      } else {
        console.log("Full screen mode is not supported by this browser.");
      }
    }

  </script>

  <script>
    // Toggle the visibility of the chat container
    function toggleChat() {
      const chatContainer = document.getElementById('chat-container');
      if (chatContainer.style.display === 'none' || chatContainer.style.display === '') {
        chatContainer.style.display = 'block'; // Show the container
      } else {
        chatContainer.style.display = 'none'; // Hide the container
      }
    }
  </script>
</body>

</html>