/********** Template CSS **********/
:root {
    --primary: #16D5FF;
    --secondary: #999999;
    --light: #F2F8FE;
    --dark: #111111;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 60px;
    z-index: 99;
}
#video-background {
    position: fixed; /* Make the video fixed to the viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Use vw units to cover the full viewport width */
    height: 100vh; /* Use vh units to cover the full viewport height */
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other elements */
}

.container-fluid.hero-header {
    position: relative; /* Set the wrapper element to relative */
    
    z-index: 1; /* Ensure the text is above the video */
}

/* Add this to make the video full screen */
#video-background {
    min-width: 100%;
    min-height: 100%;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

img[src*="eyes.gif"] {
    transition: left 0.1s, top 0.1s;
  }


/* From Uiverse.io by adamgiebl */ 
.container {
    width: 7em;
    height: 7em;
    position: relative;
  }
  
  .button {
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    background-image: linear-gradient(145deg, #171717, #444245);
    box-sizing: border-box;
    box-shadow: inset 2px 2px 0 #7d7c7e, inset -2px -2px 0px #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container input {
    display: none;
  }
  
  .button::before {
    position: absolute;
    content: "";
    width: 7.25em;
    height: 7.25em;
    border-radius: inherit;
    background-color: transparent;
    background-image: linear-gradient(145deg, #262626, #606060);
    z-index: -1;
    box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
  }
  
  .button .icon {
    width: 60px;
    height: 60px;
    display: inline-block;
  }
  
  .button .icon svg {
    height: 100%;
    width: 100%;
    fill: #a5a5a5;
  }
  
  .container input:checked + .button {
    box-shadow: inset -2px -2px 0 #5e5e5e, inset 2px 2px 0 #1c1c1c;
    border: 4px solid rgba(77, 124, 255, 0.281);
    animation: animeBorder 0.3s linear alternate-reverse infinite;
  }
  
  .container input:checked + .button .icon svg {
    fill: rgb(77, 124, 255);
    animation: animeFill 0.3s linear alternate-reverse infinite;
  }
  
  @keyframes animeFill {
    to {
      fill: rgba(77, 124, 255, 0.642);
    }
  }
  
  @keyframes animeBorder {
    to {
      border-color: rgba(77, 124, 255, 0.137);
    }
  }


/* #images{
  background-size: 100% 100%;
  animation: slider 10s linear infinite;
}

@keyframes slider{
  0%{
    background-image: url("../img/vimala1.jpg");
  }
  30%{
    background-image: url("../img/vimala2.jpg");
  }
  60%{
    background-image: url("../img/vimala3.jpg");
  }
  100%{
    background-image: url("../img/vimala4.jpg");
  }
} */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  background-color: red;
  border-radius: 10px;
  color: white;
  position: relative;
  transition-duration: .2s;
}

.card:before, .card:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.card:after {
  filter: blur(100px);
}

/* .css-selector {
  background: linear-gradient(180deg, #00051e, #22002f, #3c0033);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 11s ease infinite;
  -moz-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
} */
.css-selector {
  background: linear-gradient(270deg, #1e203a, #015a4a, #350606);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}